{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Restaurant System</title>
</head>
<body>
    Home Page
    <h2>Hello, {{ user.first_name }}</h2>
    Currently logged in as: {{ user.username}}
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>