<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant System</title>
</head>
<body>
    Login

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>