{% extends 'base_signup.html' %}
{% load bootstrap4 %}


{% block title %}
    Sign Up
{% endblock %}

{% block heading %}
    Restaurant Sign Up
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form restaurant_form %}
        <input type="submit" value="Sign Up">
    </form>
    <br>
    <span>Already have an account. </span><a href="{% url 'home' %}">Sign In</a>
{% endblock %}
